<div class="row auth-padding auth">
  <div class="col-12 md-7 col-lg-5 mx-auto d-flex">
    <div class="forget-password border-box container">
      <form #forgetPasswordForm="ngForm" class="form-horizontal form-wrapper form-bg-blue form-padding" novalidate
            autocomplete="off">
        <div class="form-group row">
          <div class="col-12 text-center">
            <!-- <img src="./assets/images/Logo-white.png" alt="NIC Logo"> -->
            <h1>{{'ProfileManagment.ForgetPassword'| translate}}</h1>
          </div>
        </div>
        <!--Email-->

        <div class="col-12" *ngIf="SuccessMsg">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{SuccessMsg | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="col-12">
          <div *ngIf="ServerErrorMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ServerErrorMsg | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <custom-text-box [type]="'email'" [(ngModel)]="emailText" name="email" autocomplete="" aria-label="email"
                             [pattern]="emailValidationPattern" [required]="true" #email="ngModel" [isRequiredLabel]="true"
                             [label]="'ProfileManagment.Email'"
                             [ngClass]="{ 'is-invalid required  validation':forgetPasswordForm.submitted && email.invalid  }">
            </custom-text-box>
            <app-validation-viewer [requiredValidations]="EmailValidation"
                                   [controlName]="email" [form]="forgetPasswordForm" [submit]="forgetPasswordForm.submitted">
            </app-validation-viewer>
          </div>
          <div class="col-sm-12">
            <div class="responsive-captcha">
              <re-captcha name="captchaControl" required [(ngModel)]="Application.captchaValue" #captchaControl="ngModel"
                          [ngClass]="{ 'is-invalid required  validation': forgetPasswordForm.submitted && captchaControl.errors}">

              </re-captcha>
            </div>
            <app-validation-viewer [requiredValidations]="{'required':'Validations.Required'}"
                                   [controlName]="captchaControl" [form]="forgetPasswordForm" [submit]="forgetPasswordForm.submitted">
            </app-validation-viewer>
          </div>
        </div>
        <div class="row justify-content-center no-gutters">
          <button (click)="submitForm()" [disabled]="disableButton" type="submit" class="main-btn mb-3 mb-md-0">
            {{'ProfileManagment.AuthModuleSubmitButton'| translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
