<div [ngClass]="{'main-menu':true,'dropdown-bg':has_bg}">
  <div class="container menu-container">
    <div class="row">
      <div class="col p-0">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
          <button class="navbar-toggler no-border collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="closeMenu">×</span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav p-0">
              <li class="nav-item">
                <a class="nav-link" href="#" title="{{'Nav.Home'|translate}}">{{'Nav.Home'|translate}} <span
                    class="sr-only">(current)</span></a>
              </li>


              <li class="nav-item" *ngIf="isAuthorized">
                <a class="nav-link" routerLink="/moa-cases" routerLinkActive="active"
                  title="{{'Nav.Requests'|translate}}">{{'Nav.Requests'|translate}}</a>
              </li>


            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
