<app-breadcrumb [CurrnetComponentName]="'moaPayment'"></app-breadcrumb>
<div class="row form-wrapper mb-0">
  <div class="col-lg-3 mb-0">
    <div class="h-100">
      <app-side-stages [activeFirstLevel]="ActiveLevelOne" [activeSecondLevel]="ActiveLevelTwo"
        [structure]="formStructure" (onChange)="onSelect($event)">
      </app-side-stages>
    </div>
  </div>

<!--Form-Container-->
<div class="col-lg-9">
  <!--Page-Title-->
  <h4 class="page-title">{{'MOAPayment.Payment' | translate}}</h4>
  <!--Request-Header-->
  <app-app-header [appHeader]="Application.ApplicationHeader"></app-app-header>
  <!--Request Details-->
  <div [hidden]="ActiveLevelOne !== 1">
    <!--Validation-Message-->
    <div class="alert alert-light mt-4" *ngIf="!Application.IsReadOnly" role="alert"><span
        class="icon-info"></span>{{'ProfileManagment.CompleteProfileSubHeader'|translate }} </div>
<!--app-request-submission-info [submissionAlertClass]="this.submissionAlertClass" [submissionInfo]="this.submissionInfo"></app-request-submission-info-->
<div>
  <form #ContractForm="ngForm" novalidate autocomplete="off">
    <!--Main Info-->
    <div id="Payment">
      <div class="col-lg-8 col-md-6">
        <app-Uploaders-List [uploaders]="Application.Documents" [form]="CaseForm"
          [IsReadOnly]="Application.IsReadOnly" [IsLiveChanges]="true">
        </app-Uploaders-List>
  </div>
    </div>
  </form>
</div>

  </div>

</div>

<div *ngIf="!Application.IsReadOnly"
class="col-12 form-footer position-relative d-flex flex-column justify-content-center flex-md-row justify-content-md-between">
<h1></h1>
<button type="button" class="main-btn" (click)="submitRequest()"
  [disabled]="false">{{ 'MOAPayment.ConfirmPayment' | translate}}</button>
</div>
</div>
