// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make trimming to text
/// @param {Number} $lines - Number of lines you want to appear
/// @param {Number} $line-height - Line Height of the text
@mixin clamp-text($lines, $line-height) {
  position: relative;
  height: #{$line-height * $lines};
  overflow: hidden;
  line-height: #{$line-height};
  max-height: #{$line-height * $lines};
}
@mixin tabs-bg {
  @for $i from 7 through 1 {
    &:nth-child(#{$i}) {
      z-index:  #{$i * 10};
    }
  }
}
