<a [routerLink]="['/modon-services/services',item.Code]" [title]="item.Name" class="service-item" *ngIf="!service">
    <div class="icon" >
      <img src="./assets/images/services/{{item.IconName}}" [title]="item.Name" [alt]="item.Name" class="default-img">
      <img src="./assets/images/services/{{item.IconNameHover}}" [title]="item.Name" [alt]="item.Name" class="hover-img">
    </div>
    <div class="title">{{item.Name}}</div>
    <div class="description">{{item.Description | truncatetext:51}}</div>
    <span>{{'View_More' | translate}}</span>
  </a>

<a [routerLink]="['../../service-details',item.Code]" [title]="item.Name" class="service-item serviceBox" *ngIf="service">
  <div class="title">{{item.Name}}</div>
  <div class="description" *ngIf="service">{{item.Description | truncatetext:100}}</div>
  <span>{{'View_More' | translate}}</span>
</a>