// -----------------------------------------------------------------------------
// This file contains all styles related to the dropdown component.
// -----------------------------------------------------------------------------
.ngx-dropdown-container[_ngcontent-ypo-c10] {
  &.disabled[_ngcontent-ypo-c10] {
    background-color: $readonly-bg;
  }
}
main {
  .ngx-dropdown-container {
    .ngx-dropdown-list-container {
      z-index: 9 !important;
      max-height: 205px;
    }

    div {
      &.ngx-dropdown-list-container {
        box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.21) !important;
      }
    }

    button {
      &.ngx-dropdown-button {
        &.disabled {
          background-color: $readonly-bg !important;
        }
      }
    }
  }
}


.dropdown {
  .dropdown-menu {
    // padding: 0 12px;
    // margin: 0;
    // border-radius: 0px;
    // border: 0;
    // background-color: #fbfbfb;
    // transform: translate3d(-50%, 0, 0) !important;
    //top: 100% !important;
    // top: 70px !important;
    // left: 50% !important;
    //min-width: auto;
    //width: 150%;
    outline: 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
    a {
      color: $brand-color !important;
    }
    &::after {
      content: none;
      width: 0;
      height: 0;
      border-left: 17.56px solid transparent;
      border-right: 17.56px solid transparent;
      border-bottom: 12.96px solid $brand-color;
      position: absolute;
      bottom: 100%;
      left: 55px;
      transform: translateX(-50%);
    }
  }

  .dropdown-item {
    padding: 20px 0;
    // text-align: center;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    user-select: none;
    text-align: initial;
    &:not([href]):not([tabindex]) {
      color: white;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $yellow;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: $yellow;
    }
  }
}

// -----------------------------------------------------------------------------
// Media Queries.
// -----------------------------------------------------------------------------
@media (min-width: 992px) {
  .dropdown {
    .dropdown-menu {
      &:after {
        content: "";
      }
    }
  }
}

// Medium devices (tablets, 1200px and up)
@media (min-width: 1200px) {
  .dropdown {
    .dropdown-menu {
      //   padding: 0 12px;
      // top: 70px !important;

      &::after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8.96px solid #fbfbfb;
      }
    }

    .dropdown-item {
      padding: 20px 0;
      font-size: 16px;
    }
  }
}
