
adahi-verify-box {
    width: 100%;

    #verify-wrapper {
        #dialog {
            width: 100%;
            max-width: 100%;
        }
    }
}

.mobile-number {
    font-weight: bold;
    display: inline-block;
	direction:ltr;
}
