.custom-password {
    .strength-meter {
        margin: 15px auto 0 !important;

        &:after, &:before {
			z-index:4;
            width: 20% !important;
        }

        &:before {
            left: 20% !important;
        }

        &:after {
            right: 20% !important;
        }
    }
}
