<div class="row auth-padding auth">
  <div class="col-12 md-7 col-lg-5 mx-auto d-flex">
    <div class="change-password border-box container">
      <form #changePasswordForm="ngForm" class="form-horizontal form-wrapper form-padding form-bg-blue" novalidate
            autocomplete="off">
        <div class="form-group row">
          <div class="col-12 text-center">
            <!-- <img src="./assets/images/Logo-white.png" alt="NIC Logo"> -->
            <h1>{{'ProfileManagment.ChangePassword'| translate}}</h1>
          </div>
        </div>
        <div class="col-12" *ngIf="ServerErrorMsg">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ServerErrorMsg | translate}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <!-- old password-->
          <div class="col-sm-12" [ngClass]="{ 'required': isSubmitted && oldPassword.errors?.required  || oldPassword.errors?.pattern }">
            <custom-text-box [label]="'ProfileManagment.OldPassword'" [isRequiredLabel]="true" name="oldPassword" autocomplete="new-password"
                             placeholder="" [type]="'password'" [pattern]="passwordValidationPattern" [required]="isSubmitted"
                             aria-label="'ProfileManagment.OldPassword'" #oldPassword="ngModel" [(ngModel)]="UserChangePassword.oldPassword"
                             [ngClass]="{ 'is-invalid required  validation': isSubmitted && oldPassword.errors?.required  || oldPassword.errors?.pattern }">
            </custom-text-box>
            <app-validation-viewer [requiredValidations]="PasswordValidation"
                                   [controlName]="oldPassword" [form]="changePasswordForm" [submit]="isSubmitted">
            </app-validation-viewer>
          </div>
          <!--New Password-->
          <div class="col-sm-12" [ngClass]="{ 'required': isSubmitted && newpassword.errors?.required  || newpassword.errors?.pattern }">
            <custom-text-box [label]="'ProfileManagment.NewPassword'" [isRequiredLabel]="true" name="newpassword" autocomplete="new-password"
                             placeholder="" [type]="'password'" [pattern]="passwordValidationPattern" [required]="isSubmitted"
                             aria-label="'ProfileManagment.NewPassword'" #newpassword="ngModel" [(ngModel)]="UserChangePassword.newPassword"
                             [ngClass]="{ 'is-invalid required  validation': isSubmitted && newpassword.errors?.required  || newpassword.errors?.pattern }">
            </custom-text-box>
            <app-validation-viewer [requiredValidations]="PasswordValidation"
                                   [controlName]="newpassword" [form]="changePasswordForm" [submit]="isSubmitted">
            </app-validation-viewer>
          </div>

          <!-- Start-Confirm-New Password -->
          <div class="col-sm-12" [ngClass]="{ 'required': isSubmitted && confirmPassword.errors }">

            <custom-text-box [label]="'ProfileManagment.ConfirmNewPassword'" [isRequiredLabel]="true" name="confirmPassword"
                             autocomplete="new-password" [type]="'password'" aria-label="'ProfileManagment.ConfirmNewPassword'" #confirmPassword="ngModel"
                             [(ngModel)]="UserChangePassword.confirmPassword"
                             [ngClass]="{ 'is-invalid required  validation': isSubmitted && confirmPassword.errors }">
            </custom-text-box>

            <div class="form-validation" *ngIf="confirmPassword.errors?.required">
              {{'Validations.Required'|translate}}

            </div>
            <div class="form-validation" *ngIf="confirmPassword.errors?.incorrect">
              {{'Validations.ConfirmedPassword'|translate}}
            </div>

          </div>

          <!-- Recaptch -->
          <div class="col-sm-12">
            <div class="responsive-captcha">
              <re-captcha name="captchaControl" required [(ngModel)]="UserChangePassword.captchaValue" #captchaControl="ngModel"
                          [ngClass]="{ 'is-invalid required  validation': isSubmitted && captchaControl.errors}">

              </re-captcha>
            </div>
            <app-validation-viewer [requiredValidations]="{'required':'Validations.Required'}"
                                   [controlName]="captchaControl" [form]="changePasswordForm" [submit]="isSubmitted">
            </app-validation-viewer>

          </div>
        </div>
        <div class="row justify-content-center no-gutters">
          <button (click)="submitForm()" type="submit" class="main-btn mb-3 mb-md-0">
            {{'Update_Password'| translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
