<div class="breadcrumb-wrapper">
  <app-breadcrumbroute [CurrnetComponentName]="CurrnetComponentName" [IsLastOne]="true"></app-breadcrumbroute>
</div>
<div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
  {{'oldRequestsValidationMsg' | translate}}
  <a [href]="oldModonURL" title="{{'oldPortal' | translate}}" class="item-link underline">{{'oldPortal' | translate}}</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

