<label>{{label}}<span *ngIf="isRequiredLabel" class="required"> *</span></label>
<div class="input-group">
    <input [placeholder]='placeholder' autocomplete="off" [(ngModel)]="value" class="form-control" [maxlength]='maxLength'
    type='password' (blur)="onBlur()">
    <span class="icon-password"></span>
</div>
<ng-template [ngIf]='strength == true'>
    <password-strength-meter [password]="value" [colors]="['#BF4444', '#e08080', 'orange', '#79B729', '#187845']"
        class="custom-password">
    </password-strength-meter>
</ng-template>