<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
 
	 <connectionStrings>
    <add name="MODONDocumentsEntities" connectionString="metadata=res://*/DocumentsDB.MODONDocumentsEntities.csdl|res://*/DocumentsDB.MODONDocumentsEntities.ssdl|res://*/DocumentsDB.MODONDocumentsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.4.79;initial catalog=MODONDocuments;user id=sa;password=linkP@ss;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MODONDocumentsEntities1" connectionString="metadata=res://*/DocumentsDB.MODONDocumentsEntities.csdl|res://*/DocumentsDB.MODONDocumentsEntities.ssdl|res://*/DocumentsDB.MODONDocumentsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.4.79;initial catalog=MODONDocuments;user id=sa;password=linkP@ss;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="MODON_IdentityMembershipEntities" connectionString="metadata=res://*/MembershipIdentityDB.MembershipIdentityDB.csdl|res://*/MembershipIdentityDB.MembershipIdentityDB.ssdl|res://*/MembershipIdentityDB.MembershipIdentityDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.20.4.29,1433;initial catalog=MODON_IdentityMembership;persist security info=True;user id=sa;password=linkP@ss;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>