<!-- <file-upload *ngIf="canUpload" (fileChanged)='onFileChanged($event)' [allowedTypes]="'.png,.jpeg,.jpg'">
</file-upload> -->
<!-- <ng-template [ngIf]='fileName != null && downloadUrl != null'>
    <div class="row">
        <div class="col-12">
            <div class="attachment">
                <div class="row no-gutters">
                    <div class="col-10">
                        <a href="" (click)='download($event)' title="{{fileName}}"> {{fileName}} </a> | truncate:30 -->
                    <!-- </div>
                    <div *ngIf="canDelete" class="col-2 d-flex justify-content-end align-content-center">
                        <a href="" (click)='onDeleteFile($event)' class="icon-rubbish-bin"
                            title="Delete">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->
