<header>
  <div class="container">
    <div class="row welcome-control">
      <div class="col user-control">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <language-switcher></language-switcher>
            <welcome-control></welcome-control>
          </div>
        </nav>
      </div>
    </div>
    <div class="justify-content-between mt-2 mt-lg-0 row">
      <div class=" col-md-3 col-6 logo">
        <a title="Modon Logo" href="#">
          <img src="./assets/images/ModonLogo.png" alt="Modon Logo" class="logo-img">
        </a>
      </div>
      <div class="align-self-end col-3 col-md-2">

      </div>
    </div>
  </div>
  <main-menu></main-menu>
</header>
