<div class="row auth-padding auth">
  <div class="col-12 md-7 col-lg-5 mx-auto d-flex">
    <div class="forget-password border-box container">
      <form #ResetPasswordForm="ngForm" class="form-horizontal form-wrapper form-bg-blue form-padding" novalidate
            autocomplete="off">
        <div class="form-group row">
          <div class="col-12 text-center">
            <h1 class="page-title">{{'ProfileManagment.ResetPassword'|translate }}</h1>
          </div>
        </div>


        <!-- Start-Password -->
        <div class="form-group row">
          <div class="col-sm-12" [ngClass]="{ 'required': isSubmitted && password.errors?.required  || password.errors?.pattern }">
            <custom-text-box [label]="'LOGIN_PASSWORD'|translate" [isRequiredLabel]="true" name="password" autocomplete="new-password"
                             placeholder="" [type]="'password'" [pattern]="passwordValidationPattern" [required]="isSubmitted"
                             aria-label="'ProfileManagment.Password'" #password="ngModel" [(ngModel)]="UserResetPassword.newPassword"
                             [ngClass]="{ 'is-invalid required  validation': isSubmitted && password.errors?.required  || password.errors?.pattern }">
            </custom-text-box>
            <app-validation-viewer [requiredValidations]="PasswordValidation"
                                   [controlName]="password" [form]="ResetPasswordForm" [submit]="isSubmitted">
            </app-validation-viewer>

          </div>
          <!-- Start-Confirm-Password -->
          <div class="col-sm-12" [ngClass]="{ 'required': isSubmitted && confirmPassword.errors }">

            <custom-text-box [label]="'ProfileManagment.ConfirmPassword'" [isRequiredLabel]="true" name="confirmPassword"
                             autocomplete="new-password" [type]="'password'" aria-label="'ProfileManagment.ConfirmPassword'" #confirmPassword="ngModel"
                             [(ngModel)]="UserResetPassword.confirmNewPassword"
                             [ngClass]="{ 'is-invalid required  validation': isSubmitted && confirmPassword.errors }">
            </custom-text-box>

            <div class="form-validation" *ngIf="confirmPassword.errors?.required">
              {{'Validations.Required'|translate}}

            </div>
            <div class="form-validation" *ngIf="confirmPassword.errors?.incorrect">
              {{'Validations.ConfirmedPassword'|translate}}
            </div>

          </div>
          <!-- Recaptch -->
          <div class="col-sm-12">
            <div class="responsive-captcha">
              <re-captcha name="captchaControl" required [(ngModel)]="UserResetPassword.captchaValue" #captchaControl="ngModel"
                          [ngClass]="{ 'is-invalid required  validation': isSubmitted && captchaControl.errors}">

              </re-captcha>
            </div>
            <app-validation-viewer [requiredValidations]="{'required':'Validations.Required'}"
                                   [controlName]="captchaControl" [form]="ResetPasswordForm" [submit]="isSubmitted">
            </app-validation-viewer>

          </div>
        </div>

        <div class="row justify-content-center no-gutters">
          <button (click)="submitForm()" type="submit" class="main-btn mb-3 mb-md-0">{{'ProfileManagment.AuthModuleSubmitButton'| translate}} </button>
        </div>
      </form>
    </div>
  </div>
</div>
