<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 contacts order-last">
                <div class="partner-care">
                    <i class="icon-headset"></i>
                    <div class="d-inline-block">
                        <p class="font-bold">920000425</p>
                        <p>{{"Footer.Contact" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 rights my-auto">
                <p> {{"Footer.Rights" | translate}} {{copyRightsYear}} © </p>
                <p> {{"Footer.ReservedFor" | translate}} </p>
            </div>
        </div>
    </div>
</footer>