$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-riyal: "\e94a";
$icon-building-o: "\e949";
$icon-library: "\e948";
$icon-info: "\e946";
$icon-info-bg: "\e947";
$icon-hashtag: "\e944";
$icon-password: "\e945";
$icon-arrow: "\e940";
$icon-email: "\e941";
$icon-phone-call: "\e942";
$icon-plus: "\e943";
$icon-login: "\e93f";
$icon-headset: "\e93e";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-facebook: "\e902";
$icon-pay: "\e903";
$icon-phone: "\e904";
$icon-search: "\e905";
$icon-support: "\e906";
$icon-twitter1: "\e907";
$icon-youtube1: "\e908";
$icon-envelope: "\e909";
$icon-dropdow-arrow: "\e90a";
$icon-mail: "\e90b";
$icon-paper-plane: "\e90c";
$icon-phone-light: "\e90d";
$icon-placeholder: "\e90e";
$icon-postbox: "\e90f";
$icon-sent-mail: "\e910";
$icon-timer: "\e911";
$icon-shopping-cart: "\e912";
$icon-minus: "\e913";
$icon-add: "\e914";
$icon-calendar: "\e915";
$icon-cancel-music: "\e916";
$icon-man-user: "\e917";
$icon-multiple-users-silhouette: "\e918";
$icon-success: "\e919";
$icon-share: "\e91a";
$icon-pdf: "\e91b";
$icon-download: "\e91c";
$icon-double-arrow: "\e91d";
$icon-brightness: "\e91e";
$icon-date: "\e91f";
$icon-next-page: "\e920";
$icon-light-bulb: "\e921";
$icon-fees: "\e922";
$icon-folder: "\e923";
$icon-play-button: "\e924";
$icon-back: "\e925";
$icon-home: "\e926";
$icon-tickets: "\e927";
$icon-rubbish-bin: "\e928";
$icon-add1: "\e929";
$icon-location: "\e92a";
$icon-printer: "\e92c";
$icon-share-2: "\e92d";
$icon-link: "\e92f";
$icon-edit: "\e930";
$icon-upload: "\e931";
$icon-wallet-filled-money-tool: "\e933";
$icon-undo: "\e934";
$icon-alert-circle: "\e935";
$icon-clippy: "\e936";
$icon-linkedin-logo: "\e937";
$icon-settings: "\e938";
$icon-workers-2: "\e939";
$icon-linkedin: "\e93a";
$icon-twitter: "\e93b";
$icon-youtube: "\e93c";
$icon-warning: "\ea07";
$icon-rated: "\e92e";
$icon-rate: "\e932";
$icon-call: "\e93d";
$icon-phone1: "\e92b";
$icon-view: "\e9ce";

