.why-register {
    //height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
    padding-bottom: 8rem;
    &:before {
        content: "";
        position: absolute;
        background: #20648e;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &:after {
        background-image: image("logo-bg.png");
        content: "";
        position: absolute;
        height: 61.25rem;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    h1,
    h2,
    h4,
    p {
        color: $white;
        font-weight: 300;
    }
    h1 {
        font-weight: bold;
        font-size: 2.75rem !important;
    }
    h2 {
        margin-bottom: 1.7rem;
        margin-top: 2.9rem;
    }
    h4 {
        font-size: 1.625rem;
        margin-bottom: 1.375rem;
    }
    .welcome-message {
        font-size: 1.5rem;
    }
    h4,
    .welcome-message {
        font-weight: 300;
    }
    img {
        margin-bottom: 0.5rem;
    }
    .features {
        margin-bottom: 1.875rem;
        p {
            padding: 0 5rem;
        }
    }
    button {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1.375rem 6.14rem;
        border-radius: 40px;
        margin-bottom: 2rem;
    }
    .why-btn {
        z-index: 1;
    }
    .why-register-title {
        z-index: 1;
    }
    .swiper-slide {
        margin-bottom: 2rem;
    }
    .swiper-pagination-bullet {
        background: #fff;
        opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
        width: 16px;
        height: 16px;
        border: none;
    }
}
// @media (min-width: 768px) {
//     .why-register {
//         height: 720px;
//     }
// }
@media (min-width: 1200px) {
    .swiper-slide {
        margin-bottom: 0 !important;
    }
    .features .swiper-pagination {
        display: none;
    }
}
